
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --verda: rgb(0, 153, 0);
  --ruĝa: #982718;
  --griza: #eaedef;
}

body {
  font-family: var(--font-family-sans-serif);
}

h1 {
  text-align: center;
  font-size: 6em;
  line-height: 1em;
  font-family: "Caveat", sans-serif;
}

a:link, a:visited {
  color: var(--verda);
}

@media screen {
  .print {
    display: none;
  }

  body {
    padding: 0 2em;
    border-top: 1em solid var(--verda);
    border-bottom: 1em solid var(--verda);
    background: white no-repeat center/contain fixed url(../bobeloj.svg);
  }

  main {
    width: 60em;
    margin: auto;
    padding-bottom: 3em;
    background-color: #fffe;
  }

  .heading {
    padding: 3rem 0 2em 0;
    margin-bottom: 1em;
  }

  .text {
    padding: 0 1em;
    font-size: 1.2em;
  }

  .twolang {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

  .sago {
    margin-top: 2em;
    display: flex;
    align-items: center;
  }
  .sago div:first-child {
    flex-grow: 1;
    background-color: var(--verda);
    color: white;
    font-size: 2em;
    text-align: center;
    padding: .5em 0;
  }
  .sago div:last-child {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5em 0 5em 8em;
    border-color: transparent transparent transparent var(--verda);
  }
}

@media (max-width:60rem) {
  body {
    padding: 0;
  }

  main {
    width: 100vw;
  }

  h1 {
    font-size: 5em;
    padding: 0 .3em 0 0;
  }

  .twolang {
    display: block;
  }
  .twolang p:first-child {
    text-align: left;
    margin-right: 5em;
  }
  .twolang p:last-child {
    text-align: right;
    margin-left: 5em;
    opacity: 60%;
  }

  .sago div:first-child {
    padding: .3em 0;
  }
  .sago div:last-child {
    border-width: 4em 0 4em 6em;
  }
}

@media print {
  @page {
    margin: 0;
    padding: 0;
  }

  .screen {
    display: none;
  }
  .print {
    display: unset;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .page {
    /* background: linear-gradient(0deg,rgba(0, 153, 0, 1) 0%, rgba(0, 153, 0, 1) 1em, rgba(255, 255, 255, 0.85) 18%, rgba(255, 255, 255, 0.85) 100%), no-repeat center/contain url(../bobeloj.svg); */
    background: linear-gradient(0deg,rgba(255, 255, 255, 0.95) 0%, rgba(255, 255, 255, 0.95) 100%), url(../bobeloj.svg) 50% 20% / 120% 80% no-repeat border-box;
    border-top: 1.2em solid var(--verda);
    border-bottom: 1.2em solid var(--verda);
    break-inside: avoid;
    break-after: always;
    height: 100vh;
    width: 100vw;
    padding: 0 3em 1em 3em;
    display: grid;
    grid-template-columns: 1fr 8em;
    grid-template-rows: 6em 1fr 8em;
    gap: 0px 0px;
    grid-template-areas: 
      "heading heading"
      "text text"
      "foot qr";
  }

  .heading {
    /* height: 6.8em; */
    grid-area: heading;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  h1 {
    font-size: 3em;
    text-align: center;
    padding-right: .3em;
  }

  .text {
    grid-area: text;
  }

  p {
    font-size: 0.9em;
    text-align: justify;
  }
  p:last-child {
    margin-bottom: 0;
  }
  .eo p {
    line-height: 1.8em;
  }

  .foot {
    grid-area: foot;
    font-family: "Caveat", sans-serif;
    font-size: 3em;
    padding-right: .5em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
  }

  .qr {
    grid-area: qr;
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
